
.Header {
    z-index: 2;
    background: url(../img/hero.png) center top no-repeat;
    background-size: cover;
    color: $white;
    font-size: 24px;
    position: relative;
    overflow: hidden;
    height: 400px;


    &:before {
        background: #000;
        content: " ";
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0.2;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 40px 0;
        z-index: 1;
        height: 100%;

        &:after {
            background: url(../img/hand.png) no-repeat;
            width: 439px;
            height: 507px;
            position: absolute;
            content: " ";
            right: -70px;
            bottom: 0;
            display: none;
        }
    }

    &__downloads {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__text {
        padding: 0 30px;
        bottom: 0;
        height: 100px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 455px;
        font-size: 24px;
        width: 100%;
        line-height: 36px;

        span {
            position: relative;
            z-index: 1;
        }
    }

}

@media only screen and (min-width: $bp-desktop) {
    .Header {
        height: 600px;
        padding: 165px 0 0;
        text-align: left;

        &__content {
            display: block;
            width: 100%;
            max-width: 1010px;
            margin: 0 auto;
            padding: 0 30px;

            &:after {
                display: block;
            }
        }

        &__downloads {
            display: inline-flex;
            width: 190px;
            margin: 25px 0 0;
        }

        &__logo {
            margin-bottom: 30px;
        }

        &__text {
            padding: 0;
            text-align: left;
            justify-content: flex-start;
            height: auto;
            position: relative;
        }
    }
}